body {
    background-color: #313131 !important;
    
}

.clearcut{
    max-width: 1200px;
    margin: auto;
    background-color:#313131;
}
.clearcut .window {
    width: 1150px;
    background-color: #fff;
    margin: auto;
}

.clearcut .middle {
    /* background-color: orangered; */
    /* width: 1050px; */
    margin: auto;
}

.clearcut .middle .title   {
    border-top: 5px solid  rgb(167, 195, 83);
    border-bottom: 1px solid  rgb(167, 195, 83);
    display: flex;
    width: 1100px;
    height: 80px;
    margin: auto;

}

.clearcut .middle .title .logo {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 70px;
}

.clearcut .middle .title .logo .logoClearcut{
    font-size: 32px;
    font-family: 'Georgia';
    color: rgb(102, 102, 102);
    margin: 0;
}


.clearcut .middle .title .logo .idexClearcut {
    font-size: 12px;
    font-family: 'Georgia';
    color: rgb(102, 102, 102);
    line-height: 1;
    /* margin: -10 0 0 0; */
}

.clearcut .title .forHover{
    display: inline-block;
    width: 130px;
    text-align: center;
    margin-left: 20px;
    padding-top: 10px;
    vertical-align: top;
    height: 75px;

}

.clearcut .middle .title #goTo {
    color: black;
    text-decoration: none;
    font-family: 'Georgia';
    font-size: 13px;
    color: rgb(151, 151, 151); 
}

.clearcut .title .forHover:hover{
    color: rgb(255, 255, 255);
    background-color:  rgb(167, 195, 83);
}
.clearcut .title .forHover:hover #goTo{
    color: rgb(255, 255, 255);
    
}

.clearcut .foreword {
    font-size: 22px;
    text-align: center;
    font-family: 'Georgia';
    font-style: italic;
    color: rgb(102, 102, 102);
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.clearcut .boxCarousel {
    width: 1100px;
    border-bottom: 1px solid chartreuse;
    padding-bottom: 30px;
    margin: auto;
}

.clearcut .carousel, .carousel-inner{
    width: 920px; 
    height: 350px;
    margin: auto;
}

.clearcut .shell {
    width: 1100px;
    margin: auto;
    /* vertical-align: top; */
    
}

.clearcut .shell .tablRight, .tablMiddle, .review  {
    display: inline-block;
    width: 340px;
    margin-top: 30px;
    vertical-align: top;
    
}


.clearcut .shell .titleAbaut {
    font-family: 'Georgia';
    font-size: 22px;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    /* padding-left: 15px; */
}

.clearcut .shell .tablRight .imgAbaut {
    width: 270px;
    height: 140px;
    margin: 0 auto 40 auto;
    
}
.clearcut .shell .tablRight .justoid {
    font-family: 'Georgia';
    font-size: 13px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
}

.clearcut .shell .tablRight .boxToExposition {
    margin: 15px;
}

.clearcut .shell .aboutRead a{
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(167, 195, 83);
    line-height: 1;

}

.clearcut .shell .tablMiddle .shellServiceTitle {
    display: flex;
    flex-direction: row;    
}

.clearcut .shell .tablMiddle .boxImgService{
display: inline-block;
}

.clearcut .shell .tablMiddle .ImgService{
    width: 64px;
    height: 64px;
}

.clearcut .shell .tablMiddle .ServiceTitle{
    display: inline;
    margin-left: 20px;
}

.clearcut .shell .tablMiddle .ServiceTitle .serviceTitleHeader {
    font-size: 14px;
    font-family: "Georgia";
    color: rgb(135, 135, 135);
    line-height: 1.2;
}

.clearcut .shell .exposition {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(134, 134, 134);
    line-height: 1.4;
    
}

.clearcut .shell .tablMiddle, .review {
    margin-left: 30px;
}

.clearcut .shell .review .blo—ÅkOne {
margin-bottom: 15px;
}


.clearcut .shell .review .sign, .nameReview{
    display: inline-block;
}

.clearcut .shell .review .TommyTanker{
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
    line-height: 1.2;

}

.clearcut .shell .review .reviewClient {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(136, 136, 136);
    line-height: 1.4;
}

.clearcut .shell .aboutRead{
    text-align: end;
}


.clearcut .footer {
    display: flex;
    flex-direction: row;
    width: 1150;
    margin: auto;
}

.clearcut .footer .companyDetails, .staySocial, .blog, .contact {
    /* display: flex;
    flex-direction: column; */
    vertical-align: top;
    width: 300px;
    margin-top: 30px;
    padding-left: 15px;
    
}
.clearcut .footer .companyDetails {
   padding-left: 0px;
    
}

.clearcut .footer .boxHeading {
    border-bottom: 1px solid  rgb(58, 58, 58);   
    margin-bottom: 20px;
}

.clearcut .footer .heading{
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    line-height: 1.2;    
}

.clearcut .footer .companyDetails .info{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.6;
}

.clearcut .footer .companyDetails .tel{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.6;
}

.clearcut .footer .companyDetails .email{
    color: rgb(167, 195, 83) ; 
}

.clearcut .footer .companyDetails .email:active{
    color: red ; 
}

.clearcut .footer .companyDetails .hours{
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.6;

}

.clearcut .footer .staySocial .boxToLinked {
   
    border-bottom: 1px solid rgb(56, 56, 56);
}

.clearcut .footer .staySocial .boxImgLink {
    display: inline-block;
}

.clearcut .footer .staySocial .linkedin {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(167, 195, 83);
    line-height: 1.2;

}
.clearcut .footer .staySocial .linkedin:active{
    color: red;
}

.clearcut .footer .staySocial .boxImgLink .ImgLink{
    margin: 10px;
}

.clearcut .footer .blog .headingBlog {
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.2;
  
}

.clearcut .footer .blog .boxToBlogOne {
    margin-bottom: 25px;
}

.clearcut .footer .blog .boxToBlogOne .textBlog {
    font-size: 11px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}

.clearcut .footer .blog .boxToBlogTwo .textBlog {
    font-size: 11px;
    font-family: "Georgia";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}

.clearcut .footer .blog .boxToRead{
    padding-top: 10px;
    text-align: end;
}

.clearcut .footer .blog .read {
    font-size: 12px;
    font-family: "Georgia";
    color: rgb(167, 195, 83);
    line-height: 1.2;
}

.clearcut .footer .blog .read:active {
    color: red;
}

.clearcut .footer .contact .inputName {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
}

.clearcut .footer .contact .inputEmail {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
    line-height: 1.583;
    background-color: rgb(56, 56, 56);
}

.clearcut .footer .contact .message {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(152, 152, 152);
    line-height: 1.583;
    background-color: rgb(56, 56, 56);
}

.clearcut .footer .contact .buttonSub {
    background-color: rgb(167, 195, 83);;
    border: none;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(49, 49, 49);
    line-height: 1.583;

    border-radius: 5px;
}